
    .avatarContainer{

        border: 5px solid darkblue;
        width: 50%;
    }
    #avatarContssainer { width: 200px; }
/* Variables */
:root {
    --main-color: #d6d6d6;
    --primary-color: #c4c4c4;
    --secondary-color: #f9f9f9;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main styling */
  body,
  html {
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
    line-height: 1.7em;
  }
  
  a {
    color: #4d4d4d;
    text-decoration: none;
  }
  
  h1 {
    padding-bottom: 20px;
    /* font-size: 48px; */
    font-size: 44px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  h4 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h1.logo {
    font-size: 2.25em;
    /* font-size: 24px; */
    font-weight: bold;
  }
  
  p {
    margin: 10px 0;
    /* font-size: 1.125em; */
    font-size: 1em;
  }
  
  p.small {
    /* font-size: 0.875em; */
    font-size: 12px;
  }
  
  p.large {
    /* font-size: 2.25em; */
    font-size: 24px;
  }
  
  .txt-btn {
    /* font-size: 1.125em; */
    font-size: 1em;
    /* font-weight: bold; */
    text-transform: uppercase;
  }
  
  hr {
    border: .5px solid #c4c4c4;
  }
  
  /* Utility Classes */
  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .btn {
    display: inline-block;  
    font-size: 1.125em;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--primary-color);
    color: #4d4d4d;
  }
  
  .btn-light {
    background-color: var(--main-color);
    color: #4d4d4d;
  }
  
  .btn-dark {
    background-color: #4d4d4d;
    color: #fff;
  }
  
  /* Navbar */
  #navbar {
    overflow: auto;
  }
  
  #navbar .logo{
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul{
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
    background: var(--main-color);
    color: #707070;
  }
  
  /* Showcase */
  #showcase-home {
    background-image: url("https://dinahosting.com/blog/cont/uploads/2019/08/programaci%C3%B3n-mitos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 50px;
  }
  
  #showcase {
    background: var(--primary-color);
    height: 40vh;
    padding: 50px;
  }
  
  #showcase .showcase-banner,
  #showcase-home .showcase-banner{
    height: 100%;
    width: 40%;
    margin: absolute;
    padding-top: 16px;
    padding-left: -210px;
    text-align: center;
    font-weight: bold;
    color:white
  }
  
  #showcase-home .showcase-banner {
    opacity: 0.9;
  }
  
  #showcase h1,
  #showcase-home h1 {
    padding: 30px;
  }
  
  /* Portfolio */
  #portfolio {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;
  }
  #portfolio2 {
    text-align: center;
    padding-top: 14px;
    width: 100%;
  }
  #portfolio2 .portfolio2-nav {
    display: table;
    margin: 0 auto;
  }
  #portfolio .portfolio-nav {
    display: table;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  #portfolio ul{
    list-style: none;
    float: right;
  }
  
  #portfolio ul li {
    float: left;
  }
  
  #portfolio ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  



  
  #portfolio2 ul{
    list-style: none;
    float: right;
  }
  
  #portfolio2 ul li {
    float: left;
  }
  
  #portfolio2 ul li a {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .box {
    float: left;
    width: 33.3%;
    padding:10px;
  }
  
  .box img {
    width: 100%;
  }
  
  .box a:hover img{
    transform: scale(1.1); 
  }
  
  /* Single Project */
  .single-project {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  
  .single-project img{
    padding-bottom: 20px;
  
  }
  
  .box-portfolio {
    float: left;
    width: 50%;
    padding:20px;
  }
  
  .box-portfolio p {
    padding-bottom: 12px;
  }
  
  .box-portfolio img {
    width: 100%;
  }
  
  .box-portfolio ul {
    list-style: none;
    padding-bottom: 20px;
  }
  
  .single-project .single-project-btn .prev{
    padding-top: 20px;
    float: left;
  }
  
  .single-project .single-project-btn .next{
    padding-top: 20px;
    float: right;
  }
  
  .single-project .hr-small {
    background: #c4c4c4;
    height: 1px;
    float: none;
  }
  .single-project .hr-small-2 {
    background: #c4c4c4;
    height: 1px;
    margin-top: 95px;
  }
  
  /* Contact */
  #contact {
    height: 200px;
    padding-top: 50px; 
    padding-bottom: 100px; 
  }
  
  #contact .box-contact-features {
    float: left;
    width: 33.3%;
    text-align: center;
  }
  
  #contact .box-contact-features i {
    padding-bottom: 20px;
  }
  
  #contact .box-contact-features p {
    line-height: .8em;
  }
  
  #contact .features-contact .box-form{
    float: left;
    width: 50%;
    padding: 60px 10px 20px 10px;
  }
  
  #contact .features-contact .box-form iframe{
    width: 100%;
    height: 400px;
  }
  
  /* Contact Form */
  #contact #contact-form .single-form {
    margin-bottom: 20px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
  }
  
  #contact-form textarea {
    height: 200px;
  }
  
  #contact-form input:focus,
  #contact-form textarea:focus {
    outline: none;
    border-color: var(--main-color);
  }
  
  /* Footer */
  #main-footer {
    height: 80px;
    padding-top: 20px;
  }
  
  #main-footer p {
    float: left;
  }
  
  #main-footer ul {
    float: right;
    list-style: none;
  }
  
  #main-footer ul li {
    float: left;
  }
  
  #main-footer ul li i {
    color: var(--main-color);
  }
  
  #main-footer ul li a {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .modal{
    width: 1100px;
    height: 1100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color:gray;
    border-width: 12;
    border-color: #000000;
    border-radius: 12px;
    margin: 20px;
}
.main{
  position: relative;

}
.p{
  width: 150;
  height: 150px;

}

img{
  border: 6px solid rgb(197, 197, 197);
  border-style: inset;
}

  #modal_image {
    float: left;

  }
  #text_modal {
    /* left:-500px;
     top:30px; */
  position: fixed;
  bottom: 10;
  right: 0;
  width: 300px;
    }

  #cursor{
    cursor: pointer;
    border:4px outset rgb(116, 119, 128);
    height: 50px;
    width: 50%;
  }
  #title{
    position:relative;
     left:0px;
     top:-14px;


  }

  #espacio{
    margin-left: 2em;
  }
